

html {
	background-image: url("whiteClouds.png");
	background-repeat: no-repeat;
	background-size: 1920px 1080px;
}

fieldset {
	padding-top: 20px;
	padding-left: 40%;
	border-color: black;
	width: auto;
	text-align: left;
	color: white;
	background-color: #1f4778;
}

.container {
	
	padding-top: 200px;
}

h1 {
	padding-left: 40%;
	color: white;
}

h3 {
	padding-left: 43.5%;
	color: white;
}